doctype html
html(ng-app="index", lang="en")
  head
    title Ishgo Team
    include ../partial/head

  body
    include ../partial/header

    main.index_container(role="main")
      .flash_module
        include ../partial/flash

      .welcome_module#welcome.active(ui-scrollspy)
        .container
          h1.head Hey, Welcome to our home page.
          p.subhead ishgo Team is a studio of website design.

      .about_module#about(ui-scrollspy)
        .container
          h2.head WHO WE ARE
          p.subhead
            | ishgo Team 是一个专注于互联网产品的小型工作室。主要研发和营运
            a(href="http://ishgo.cn", title="爱所购") 爱所购
            | 网站。
            | 我们专注于产品设计、用户体验和产品研发与营运。
            | 同时，我们也热衷于在线购物，旅行，游戏等。

      .team_module#team(ui-scrollspy)
        .container
          h2.head OUR TEAM
          p.subhead
            | 设计、技术、个性、兴趣、专注是我们团队的核心。
          .member.row
            .col-md-3.col-md-offset-2
              .circle
                img.avator(src="http://s.gravatar.com/avatar/4ae64573bf8a8f5bcf2a3654715b1c3a?s=300")
                .signature
                  p.content 不怕神一样的对手只怕猪一样的队友
                  span -- David Jones

            .col-md-3.col-md-offset-1
              .circle
                img.avator(src="http://tp1.sinaimg.cn/1763035100/180/1293205008/1")
                .signature
                  p.content 加油!骚年~ 你的问题主要是读书不多,而想得太多(T_T)...
                  span -- Barbery

      .activity_module


      .contact_module#contact(ui-scrollspy)
        .container
          h2.head CONTACT
          p.subhead 如果你想开发或重新设计一个网站或者如果你对我们团队有兴趣，不要犹豫，请联系我们吧！

          .social.row
            .col-md-12
              a.button(href="https://twitter.com/Mr_DavidJones", title="twitter")
                i.fa.fa-twitter

              a.button(href="https://plus.google.com/111899862347999076942?rel=author", title="google+")
                i.fa.fa-google-plus

              a.button(href="http://weibo.com/307853201/", title="weibo")
                i.fa.fa-weibo

              a.button(href="mailto:hi@ishgo.cn?subsject=hi ishgo", title="email")
                i.fa.fa-envelope
    
    include ../partial/footer