

header#header.navbar.navbar-inverse.navbar-fixed-top(role="banner")
  .container
    .navbar-header
      a.navbar-brand(href="./", title="ishgo") ishgo

    .collapse.navbar-collapse(role="navigation")
      ul.main_nav
        li
          a(scrollspy-tab, href="#about", title="About") About
        li
          a(scrollspy-tab, href="#team", title="Team") Team
        li
          a(scrollspy-tab, href="#contact", title="Contact") Contact
        li
          a(href="http://blog.ishgo.cn", title="Blog") Blog